{% extends "SalonAutomobila/base.html" %}
{% load static %}
{% block title %} Korpa za kupovinu {% endblock %}
{% block content %}
<h1>Korpa za kupovinu</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Slika</th>
            <th>Automobil</th>
            <th>Kolicina</th>
            <th>Ukloni iz korpe</th>
            <th>Cena po komadu</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        {% for stavka in korpa %}
        {% with automobil=stavka.automobil %}
        <tr>
            <td>
                <a href="{{ automobil.ApsolutniURL }}">
                    <img src="{% if automobil.slika %}{{ automobil.slika.url }}
{% else %}{% static " img\\no_image.png" %}{% endif %}">
                </a>
                33
                Korpa za kupovinu
            </td>
            <td>{{ automobil.naziv }}</td>
            <td>
                <form action="{% url " KorpaZaKupovinu:DodajUKorpu" automobil.id %}" method="post">
                    {{ stavka.formazaazuriranjekolicine.kolicina }}
                    {{ stavka.formazaazuriranjekolicine.dodati_na_kolicinu }}
                    <input type="submit" value="Azuriraj">
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url " KorpaZaKupovinu:UkloniIzKorpe" automobil.id %}" method="post">
                    <input type="submit" value="Ukloni">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">${{ stavka.cena }}</td>
            <td class="num">${{ stavka.ukupna_cena }}</td>
        </tr>
        {% endwith %}
        {% endfor %}
        34
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ korpa.UzmiUkupnuCenu }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url " SalonAutomobila:ListaAutomobila" %}" class="button
light">Nastavak kupovine</a>
    <!-- ovde ce se kasnije dodati link za proveru porudzbine -->
</p>
{% endblock %}